/* Mobile: 1 columna */
@media (max-width: 480px) {
  .page {
  width: auto;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100vw;
}

.main__profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
  gap: 16px;
  padding: 1vh 0;
}

.main__avatar {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin: 0 auto; /* Centra horizontalmente */
}

.main__name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

  .main__gallery-list {
  margin-top: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 8px;
}

.main__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;           /* Tamaño sugerido, puedes ajustar */
  height: 40px;
  font-size: 24px;       /* Tamaño del "+" */
  cursor: pointer;       /* Cambia el cursor al pasar */
  margin: 0 auto; /* Centra horizontalmente */
}


}


/* Tablet: 2 columnas */
@media (min-width: 768px) {
  .main__gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila */
    gap: 16px; /* más separación entre cards */
  }

.card {
    flex: 1 1 calc(50% - 16px); /* 2 cards por fila */
    max-width: calc(50% - 16px);
  }

}